* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow", sans-serif;
    background-color: rgb(242, 242, 242);
}

/* Header section */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 7.5rem;
}

.header-container .logo {
    text-decoration: none;
    color: #000000;
    font-size: 2rem;
    font-weight: bold;
}

.header-container nav ul {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    font-size: 20px;
}

.header-container nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
}

.header-container nav ul li a:hover {
    color: #9f0303;
}

.hamburger-container {
    display: none;
}

/* Hero section */
.hero-container {
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7.5rem;
    gap: 20px;
}

/* hero section text division */
.hero-container .hero-text {
    flex: 1;
}

/* hero section image division */
.hero-container .image-container {
    flex: 1;
    text-align: end;
}

/* Line with animation */
.underline {
    width: 0;
    height: 3px;
    background-color: #9f0303;
    animation: expandLine 2s ease-out forwards;
}

@keyframes expandLine {
    form {
        width: 0;
    }

    to {
        width: 100px;
    }
}


.hero-container h1 {
    font-size: 4.5rem;
}


/* Hero Image or Profile section */
.hero-container img {
    width: 500px;
    height: auto;
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.50);
    object-fit: cover;
}

/* Contact Form section */
.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem 7.5rem;
    margin-bottom: 4rem;
    gap: 40px;
}

.sub-title {
    margin-bottom: 20px;
    font-size: 2rem;
    color: #9f0303;
}

.message {
    flex: 1;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.information {
    flex: 1;
    /* Smaller portion */
    background: #f9f9f9;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.information a {
    color: #000000;
    text-decoration: none;
    font-weight: 600;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.form-group input:focus,
textarea:focus {
    border-color: #dc0404;
    outline: none;
    box-shadow: 0 0 5px rgba(82, 3, 3, 0.5);
}

/* Buttons */
.form-btn {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.form-btn button {
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #0077ff;
    color: white;
    font-size: 16px;
}

.form-btn button:hover {
    background: #005fcc;
}

/* Contact Info */
.information h2 {
    margin-bottom: 10px;
}

.information address {
    margin-top: 15px;
    line-height: 1.6;
}

/* Footer section  */
footer {
    background-color: #fff;
    padding: 2rem 7.5rem;
}

.footer-container {
    height: 50vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-text p {
    font-size: 1.5rem;
}

.footer-text a {
    font-size: 4.5rem;
    color: black;
    font-weight: 800;
}

.footer-text a:hover {
    color: rgb(51, 111, 241);
}

.footer-links {
    width: 300px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 20px;
}

.social,
.service {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.social nav ul,
.service nav ul {
    list-style: none;
}

.social ul li,
.service ul li {
    margin-bottom: 4px;
}

.social a,
.service a {
    color: black;
    text-decoration: none;
}

.social a:hover,
.service a:hover {
    color: rgb(0, 98, 255);
}

.copyright {
    margin: 20px;
    padding-top: 20px;
    text-align: center;
    color: #929292;
}



/* Tablet style */
@media (min-width:769px) and (max-width:1024px) {

    /* Header section */
    .header-container {
        width: 100%;
        height: auto;
        padding: 2rem 3rem;

    }

    /* Hero section */
    .hero-container {
        width: 100%;
        max-height: 80vh;
        padding: 0 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    .hero-container .hero-text {
        flex: 1;
        gap: 8px;
    }


    .hero-container h1 {
        font-size: 3rem;
        margin-top: 1rem;
    }

    .hero-container h2 {
        font-size: 1.5rem;
        margin: 0.8rem 0;
    }

    .image-container {
        flex: 1;
        text-align: end;
    }

    .hero-container img {
        width: 100%;
        height: auto;
        max-width: 400px;
        object-fit: cover;
    }

    /* contact section */
    .contact-container {
        width: 100vw;
        height: auto;
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 3rem;

    }

    /* Footer section */
    footer {
        padding: 1rem 3rem;
        height: auto;
    }


    .footer-container p {
        font-size: 1.2rem;
    }

    .footer-text a {
        font-size: 3rem;
    }

    .footer-links h2 {
        font-size: 1.5rem;
    }

    .footer-links a {
        font-size: 1rem;
    }

    .copyright {
        font-size: 0.8rem;
    }

}


/* Mobile */
@media (max-width:768px) {

    /* Header section */
    .header-container {
        background-color: #fff;
        padding: 1rem;
        max-width: 100%;
    }


    .header-container nav ul {
        display: none;
        flex-direction: column;
        align-items: center;
        /* center links */
        position: absolute;
        top: 60px;
        /* below header */
        left: 0;
        width: 100%;
        background: #fff;
        padding: 2rem 0;
        gap: 1.5rem;
        font-size: 1.2rem;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    }


    /* Show menu when active */
    .header-container nav ul.active {
        display: flex;
    }

    /* Show hamburger on mobile */
    .hamburger-container {
        display: block;
        cursor: pointer;
    }

    .hamburger-container div {
        width: 30px;
        height: 3px;
        margin: 6px;
        background-color: #000;
        transition: 0.4s;
    }

    .hamburger-container.open .bar1 {
        transform: rotate(-45deg) translate(-6px, 6px);
    }

    .hamburger-container.open .bar2 {
        opacity: 0;
    }

    .hamburger-container.open .bar3 {
        transform: rotate(45deg) translate(-6px, -6px);
    }


    .header-container .logo {
        font-size: 1.5rem;
    }


    /* Hero section responsive */
    .hero-container {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        padding: 2rem .5rem;
        max-width: 100%;
    }


    .hero-text h1 {
        font-size: 2rem;
        margin: 0.8rem 0;
    }


    /* hero section image */
    .hero-container .image-container {
        text-align: center;
    }

    .hero-container img {
        width: 70%;
        max-width: 100%;
        height: auto;
    }

    /*contact section */
    .contact-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 1.5rem;
        margin-bottom: 2rem;
    }

    .message {
        width: 100%;
        height: auto;
        background-color: #fff;
        border-radius: 8px;
    }

    .sub-title {
        text-align: center;
        font-size: 1.5rem;
    }

    .form-btn {
        display: flex;
        justify-content: space-between
    }

    .form-btn button {
        padding: 0.5rem 1rem;
        font-weight: 600;
    }

    /* Footer section */
    footer {
        width: 100vw;
        padding: 1rem;
        max-width: 100%;
    }

    .footer-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .footer-text {
        text-align: center;
        width: 100%;
        max-width: 100%;
    }

    .footer-text p {
        font-size: .875rem;
    }

    .footer-text a {
        font-size: 2rem;
        font-weight: 800;
        color: #000000;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 100%;
    }

    .social h2,
    .service h2 {
        font-size: 1.125rem;
    }

    .social a,
    .service a {
        font-size: .8125rem;
    }

    .copyright {
        margin: 1rem auto;
        padding-top: .5rem;
        font-size: .875rem;
    }
}